@import "tailwindcss";

@font-face {
  font-family: "SF-Pro";
  src: url("/font/SF-Pro.ttf") format("truetype");

  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Baunk";
  src: url("/font/Baunk.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --buttonGreen: #73ba0d;
}

/* .bg-square-pattern {
  background-image: linear-gradient(
      45deg,
      #cd3030 25%,
      transparent 25%,
      transparent 75%,
      #cd3030 75%,
      #cd3030 100%
    ),
    linear-gradient(
      45deg,
      #cd3030 25%,
      transparent 25%,
      transparent 75%,
      #cd3030 75%,
      #cd3030 100%
    );
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
} */

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: SF-Pro, Helvetica, sans-serif; */
  /* font-family: "SF-Pro"; */
  font-family: "SF-Pro";
}

footer {
  font-family: "SF-Pro";
}

.text-fluid {
  font-size: clamp(28px, 11.9vw, 200px);
}

.text-buttonGreen {
  color: var(--buttonGreen);
}

.bg-buttonGreen {
  background-color: var(--buttonGreen);
}
